# Decision Trees House Price Prediction

<img src="decisiontrees.png"/>

<img src="decisiontrees2.jpg"/>

<img src="decisiontrees3.jpg"/>

## Common Terms Used With Decision Trees

<ol>
    <li>Root Node: It represents entire population or sample and this further gets divided into two or more homogeneous sets.</li>
    <li>Splitting: It is a process of dividing a node into two or more sub-nodes.</li>
    <li>Decision Node: When a sub-node splits into further sub-nodes, then it is called decision node.</li>
    <li>Leaf/ Terminal Node: Nodes do not split is called Leaf or Terminal node.</li>
    <li>Pruning: When we remove sub-nodes of a decision node, this process is called pruning. You can say opposite process of splitting.</li>
    <li>Branch / Sub-Tree: A sub section of entire tree is called branch or sub-tree.</li>
    <li>Parent and Child Node: A node, which is divided into sub-nodes is called parent node of sub-nodes whereas sub-nodes are the child of parent node.</li>
</ol>

# Advantages and Disadvantages OF DT

<h1>Advantages</h1>

<ul>
    <li>Easy To Understand</li>
    <li>Easy to generate rules</li>
</ul>


<h1>Disadvantages</h1>
<ul>
    <li>May suffer from overfitting</li>
    <li>Do not easily handle numeric data</li>
    <li>Can be quite large prunning is neccessary</li>
</ul>

# What is Regression

<p>Regression is a statistical measurement used in finance, investing, and other disciplines that attempts to determine the strength of the relationship between one dependent variable (usually denoted by Y) and a series of other changing variables (known as independent variables).


Regression helps investment and financial managers to value assets and understand the relationships between variables, such as commodity prices and the stocks of businesses dealing in those commodities.</p>

In [36]:
import numpy as np
import pandas as pd

In [37]:
melbourne_file_path=r"/Users/dongjukang/Downloads/DecisionTrees-master/melb_data.csv"

In [38]:
df=pd.read_csv(melbourne_file_path)

In [39]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [40]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [41]:
df=df.dropna(axis=0)

In [42]:
y=df["Price"]

In [43]:
melbourne_features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude','Distance','Car','Landsize','BuildingArea','YearBuilt','Propertycount']

In [44]:
X=df[melbourne_features]

In [45]:
X.describe()

,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Distance,Car,Landsize,BuildingArea,YearBuilt,Propertycount
count,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000
mean,3.098909,1.646450,523.480365,-37.804501,144.991393,11.199887,1.692247,523.480365,149.309477,1965.753348,7475.940137
std,0.963786,0.721611,1061.324228,0.090549,0.118919,6.813402,0.975464,1061.324228,87.925580,37.040876,4375.024364
min,1.000000,1.000000,0.000000,-38.174360,144.423790,0.000000,0.000000,0.000000,0.000000,1196.000000,249.000000
25%,2.000000,1.000000,212.000000,-37.858560,144.920000,6.400000,1.000000,212.000000,100.000000,1945.000000,4382.500000
50%,3.000000,2.000000,478.000000,-37.798700,144.998500,10.200000,2.000000,478.000000,132.000000,1970.000000,6567.000000
75%,4.000000,2.000000,652.000000,-37.748945,145.064560,13.900000,2.000000,652.000000,180.000000,2000.000000,10331.000000
max,12.000000,9.000000,42800.000000,-37.407200,145.526350,47.400000,10.000000,42800.000000,3112.000000,2019.000000,21650.000000

In [46]:
X.head()

,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Distance,Car,Landsize,BuildingArea,YearBuilt,Propertycount
2,2,1.0,156.0,-37.8079,144.9934,2.5,0.0,156.0,79.0,1900.0,4019.0
4,3,2.0,134.0,-37.8093,144.9944,2.5,0.0,134.0,150.0,1900.0,4019.0
6,4,1.0,120.0,-37.8072,144.9941,2.5,2.0,120.0,142.0,2014.0,4019.0
11,3,2.0,245.0,-37.8024,144.9993,2.5,0.0,245.0,210.0,1910.0,4019.0
14,2,1.0,256.0,-37.8060,144.9954,2.5,2.0,256.0,107.0,1890.0,4019.0

In [47]:
X.tail()

,Rooms,Bathroom,Landsize,Lattitude,Longtitude,Distance,Car,Landsize,BuildingArea,YearBuilt,Propertycount
34847,3,2.0,383.0,-37.61940,145.03951,25.5,2.0,383.0,118.0,2016.0,2940.0
34849,3,2.0,404.0,-37.61031,145.03393,25.5,2.0,404.0,158.0,2012.0,2940.0
34853,2,2.0,98.0,-37.81551,144.88826,6.3,1.0,98.0,104.0,2018.0,6543.0
34854,2,1.0,220.0,-37.82286,144.87856,6.3,2.0,220.0,120.0,2000.0,6543.0
34856,2,1.0,250.0,-37.81810,144.89351,6.3,0.0,250.0,103.0,1930.0,6543.0

In [48]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model=DecisionTreeRegressor(random_state=1
                                     )
melbourne_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [49]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
    Rooms  Bathroom  Landsize  Lattitude  Longtitude  Distance  Car  Landsize  \
2       2       1.0     156.0   -37.8079    144.9934       2.5  0.0     156.0
4       3       2.0     134.0   -37.8093    144.9944       2.5  0.0     134.0
6       4       1.0     120.0   -37.8072    144.9941       2.5  2.0     120.0
11      3       2.0     245.0   -37.8024    144.9993       2.5  0.0     245.0
14      2       1.0     256.0   -37.8060    144.9954       2.5  2.0     256.0

    BuildingArea  YearBuilt  Propertycount
2           79.0     1900.0         4019.0
4          150.0     1900.0         4019.0
6          142.0     2014.0         4019.0
11         210.0     1910.0         4019.0
14         107.0     1890.0         4019.0
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

# Mean Absolute Error
<p>Mean Absolute Error measures the average magnitude of the errors in a set of predictions ,without considering their direction.Itâ€™s the average over the test sample of the absolute differences between prediction and actual observation where all individual differences have equal weight.</p>

<img src="meanabsoluteerror.gif"/>

In [50]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices=melbourne_model.predict(X)
mean_absolute_error(y,predicted_home_prices)

325.13784179138065

In [51]:
from sklearn.model_selection import train_test_split

train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0,test_size=0.2)

melbourne_model=DecisionTreeRegressor()
melbourne_model.fit(train_X,train_y)
val_predictions=melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))
score=melbourne_model.score(val_X,val_y)
print(score)

239943.9375703037
0.523816854249147

### from sklearn.metrics import mean_absolute_error

In [52]:
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes,train_X,val_X,train_y,val_y):
    model=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
    model.fit(train_X,train_y)
    preds_val=model.predict(val_X)
    mae=mean_absolute_error(val_y,preds_val)
    return(mae)

In [53]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  350216
Max leaf nodes: 50  		 Mean Absolute Error:  237414
Max leaf nodes: 500  		 Mean Absolute Error:  224815
Max leaf nodes: 5000  		 Mean Absolute Error:  238826

   <a href="https://medium.com/greyatom/decision-trees-a-simple-way-to-visualize-a-decision-dc506a403aeb">Decision Trees Further Reading</a>

# Max_depth

<p>The first parameter to tune is max_depth. This indicates how deep the tree can be. The deeper the tree, the more splits it has and it captures more information about the data. </p>

In [54]:
def get_mae(max_depth,train_X,val_X,train_y,val_y):
    model=DecisionTreeRegressor(max_depth=max_depth,random_state=0)
    model.fit(train_X,train_y)
    preds_val=model.predict(val_X)
    mae=mean_absolute_error(val_y,preds_val)
    return(mae)

In [55]:
for max_depth in [5,10,20,30,60]:
    my_mae=get_mae(max_depth,train_X,val_X,train_y,val_y)
    print("Max depth: %d  \t\t Mean Absolute Error:  %d" %(max_depth, my_mae))

Max depth: 5  		 Mean Absolute Error:  259679
Max depth: 10  		 Mean Absolute Error:  224334
Max depth: 20  		 Mean Absolute Error:  240122
Max depth: 30  		 Mean Absolute Error:  243073
Max depth: 60  		 Mean Absolute Error:  241610

# Min Samples Split

In [56]:
def get_mae(min_samples_split,train_X,val_X,train_y,val_y):
    model=DecisionTreeRegressor(min_samples_split=min_samples_split,random_state=0)
    model.fit(train_X,train_y)
    preds_val=model.predict(val_X)
    mae=mean_absolute_error(val_y,preds_val)
    return(mae)

<p>min_samples_split represents the minimum number of samples required to split an internal node. This can vary between considering at least one sample at each node to considering all of the samples at each node. When we increase this parameter, the tree becomes more constrained as it has to consider more samples at each node. Here we will vary the parameter from 10% to 100% of the samples</p>

In [57]:
for min_samples_split in [2,3,4,5,6,7,8,9,10,20,30]:
    my_mae=get_mae(min_samples_split,train_X,val_X,train_y,val_y)
    print("Mean samples split: %d  \t\t Mean Absolute Error:  %d" %(min_samples_split, my_mae))

Mean samples split: 2  		 Mean Absolute Error:  241610
Mean samples split: 3  		 Mean Absolute Error:  240140
Mean samples split: 4  		 Mean Absolute Error:  237919
Mean samples split: 5  		 Mean Absolute Error:  237598
Mean samples split: 6  		 Mean Absolute Error:  229985
Mean samples split: 7  		 Mean Absolute Error:  228895
Mean samples split: 8  		 Mean Absolute Error:  229118
Mean samples split: 9  		 Mean Absolute Error:  227244
Mean samples split: 10  		 Mean Absolute Error:  226065
Mean samples split: 20  		 Mean Absolute Error:  214476
Mean samples split: 30  		 Mean Absolute Error:  209132

# Min Samples Leaf

In [58]:
def get_mae(min_samples_leaf,train_X,val_X,train_y,val_y):
    model=DecisionTreeRegressor(min_samples_leaf=min_samples_leaf,random_state=0)
    model.fit(train_X,train_y)
    preds_val=model.predict(val_X)
    mae=mean_absolute_error(val_y,preds_val)
    return(mae)

<p>min_samples_leaf is The minimum number of samples required to be at a leaf node. This parameter is similar to min_samples_splits, however, this describe the minimum number of samples of samples at the leafs, the base of the tree.</p>

In [59]:
for min_samples_leaf in [5,10,15,20,30,40,50,60,70]:
    my_mae=get_mae(min_samples_leaf,train_X,val_X,train_y,val_y)
    print("Mean samples leaf: %d  \t\t Mean Absolute Error:  %d" %(min_samples_leaf, my_mae))

Mean samples leaf: 5  		 Mean Absolute Error:  207841
Mean samples leaf: 10  		 Mean Absolute Error:  208273
Mean samples leaf: 15  		 Mean Absolute Error:  209391
Mean samples leaf: 20  		 Mean Absolute Error:  207431
Mean samples leaf: 30  		 Mean Absolute Error:  214361
Mean samples leaf: 40  		 Mean Absolute Error:  223568
Mean samples leaf: 50  		 Mean Absolute Error:  223604
Mean samples leaf: 60  		 Mean Absolute Error:  231223
Mean samples leaf: 70  		 Mean Absolute Error:  229549

In [60]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

# Combined

In [61]:

dt=DecisionTreeRegressor(criterion='mse',splitter='best',min_samples_split=3,max_depth=50,min_samples_leaf=7)
dt.fit(train_X,train_y)
y_pred=dt.predict(val_X)

dt_regressor=evaluate(dt,val_X,val_y)

Model Performance
Average Error: 213541.4755 degrees.
Accuracy = 81.26%.

In [62]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [63]:
from scipy.stats import randint 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import RandomizedSearchCV 
  
# Creating the hyperparameter grid  
param_dist = {"max_depth": randint(1,100), 
              "min_samples_split": randint(2, 40), 
              "min_samples_leaf": randint(1, 50),
             "max_leaf_nodes":randint(1,200)} 
  
# Instantiating Decision Tree classifier 
tree = DecisionTreeRegressor() 
  
# Instantiating RandomizedSearchCV object 
tree_cv = RandomizedSearchCV(tree, param_dist, cv = 5) 
  
tree_cv.fit(train_X, train_y) 
  
tree_accuracy=evaluate(tree_cv,val_X,val_y)

Model Performance
Average Error: 214053.3774 degrees.
Accuracy = 80.67%.

In [64]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [65]:
from sklearn.ensemble import RandomForestRegressor
rt_model=RandomForestRegressor(n_estimators=100,random_state=0)
rt_model.fit(train_X,train_y)
random_forest_accuracy=evaluate(rt_model,val_X,val_y)

Model Performance
Average Error: 164927.8297 degrees.
Accuracy = 85.45%.

In [66]:
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
# pprint(rt.get_params())
pprint(rt_model.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 0,
 'verbose': 0,
 'warm_start': False}

In [67]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)
{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(train_X, train_y)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  4.8min

In [ ]:
rf_random.best_params_

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [ ]:


best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, val_X, val_y)

basemodel_accuracy=evaluate(rt_model,val_X,val_y)

print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - basemodel_accuracy) / basemodel_accuracy))

In [ ]:
from joblib import dump,load
dump(rf_random,'housepriceprediction.joblib')